*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Cairo', sans-serif;
}

.hero {
    &__header{
        height: 100vh;
        width: 100vw;
        margin-bottom: 6%;
    }

    &__nav{
        width: inherit;
        height: 5.75rem;
        background-image: url(../../dist/Assets/mbar.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__title{
        display: flex;
        position: absolute;
        top: 2rem;
        right: 10rem;
        text-decoration: none;
        list-style: none;
    }

    &__item {
        padding-right: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: #000000;
        &--blue{
            color: $color-rblue;
        }
    }

    &__logo{
        position: absolute;
        top: .3rem;
        left: 3rem;  
    }

    &__lang{
        font-family: Cairo;
        width: 6.359375rem;
        height: 2.3125rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        border: 1px solid $color-rblue;
        border-radius: .625rem;
        background: none;
        font-weight: 600;
        font-size: 1.25rem;
        color: $color-rblue;
        cursor: pointer;
        img {
            position: relative;
            top: .6rem;
            padding-left: .9rem;
        }
    }

    &__lang:focus{
        outline: none;
    }

    &__warn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: inherit;
        height: 7.3125rem;
        background-color: $color-yellow;
    }

    .warn__title{
        font-weight: 700;
    }
    
    .warn__text{
        width: 34.125rem;
        text-align: center;
        color: $color-blue;
        line-height: 1.8rem;
        font-weight: 600;
    }

    &__banner{
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.1rem;
    }

    &__png{
        width: 48.45rem;
        height: 30.543125rem;
        img {
            width: 39.3125rem;
            height: 29.543125rem;
            top: 1rem;
            position: relative;
        }
    }
    
    &__info{
        position: relative;
        right: 3rem;
        width: 39.45rem;
        height: 30.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info__title{
        padding-top: 10%;
        padding-bottom: 5%;
        width: 39rem;
        text-align: center;
        color: $color-blue;
        font-size: 1.5rem;
    }
    
    .info__icon {
        position: relative;
        left: 18rem;
        width: 5.3125rem;
        height: 5.3125rem;
    }
    
    .info__text{
        position: relative;
        top: .5rem;
        left: 5rem;
        width: 31.089375rem;
        height: 15.128125rem;
        font-weight: 700;
        font-size: 1.5rem;
        color: $color-font;
        text-align: center;
        line-height: 2.5rem;
    }
    
    .info__btn{
        @include testBtn();
    }
    
}

