.think {
    width: 100vw;
    height: 14rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: $color-ciel;
    &__title{

    }
    &__btn{
        @include testBtn();
        width: 40rem;
        left: 19.5rem;
    }

}